/*
 * Global Styles
 */

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 900px;
  padding: 0 15px;
}

.hide {
  display: none;
}

/*
 * Map Styles
 */

#map {
  height: 500px;
  margin-bottom: 50px;
}
